body {background-color: #d3d3d3;}

a:hover {color: #87a4fa;}

h1, h2, h3 {color: #009dff;}

nav {background-color: #657883;}

nav a:hover {background-color: #0a1b4f;}

nav a:link {color: lightblue;}

nav a:visited {color: lightblue;}

nav {padding: 10px;}

nav {margin-bottom: 30px;}