body {background-color: #d3d3d3;}

a:hover {color: #87a4fa;}

h1, h2, h3 {color: #003F66;}

nav {background-color: #384147;}

nav a:hover {background-color: #0a1b4f;}

nav a:link {color: #CDE8EF;}

nav a:visited {color: lightblue;}

nav {padding: 10px;}

nav {margin-bottom: 30px;}

@media screen and (max-width: 1050px)  {
                nav a {
                    width: 100%;
                    display: block;
                    margin: 0.5em 0em 0.5em 0em;
                }

                nav span {
                    display: none;
                }
            }

.hide {display: none;}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}